@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body {
   background-color: #131516;
    font-family: 'Raleway', sans-serif;
}
.content h1{
    color: #fff;
    text-align: center;
}

.content p{
    color: #00B8F5;
    text-align: center;
}
.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
.code {
    font-weight: 400;
    font-size: 500%;
}
  @media (max-width : 320px) {
    .vm {display:block;}
    .vd {display:none;}
}
@media (min-width : 321px) {
    .vd {display:block;}
    .vm {display:none;}
}